@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ly4dzj');
	src:url('fonts/icomoon.eot?#iefix-ly4dzj') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ly4dzj') format('woff'),
		url('fonts/icomoon.ttf?-ly4dzj') format('truetype'),
		url('fonts/icomoon.svg?-ly4dzj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e60e";
}

.icon-music:before {
	content: "\e60f";
}

.icon-play:before {
	content: "\e619";
}

.icon-podcast:before {
	content: "\e61a";
}

.icon-file:before {
	content: "\e61b";
}

.icon-location:before {
	content: "\e61e";
}

.icon-calendar:before {
	content: "\e61f";
}

.icon-box-add:before {
	content: "\e600";
}

.icon-user:before {
	content: "\e610";
}

.icon-search:before {
	content: "\e601";
}

.icon-expand:before {
	content: "\e602";
}

.icon-tree:before {
	content: "\e603";
}

.icon-cloud-download:before {
	content: "\e61c";
}

.icon-download:before {
	content: "\e61d";
}

.icon-link:before {
	content: "\e604";
}

.icon-flag:before {
	content: "\e605";
}

.icon-star:before {
	content: "\e611";
}

.icon-heart:before {
	content: "\e612";
}

.icon-thumbs-up:before {
	content: "\e613";
}

.icon-thumbs-up2:before {
	content: "\e614";
}

.icon-warning:before {
	content: "\e615";
}

.icon-info:before {
	content: "\e606";
}

.icon-close:before {
	content: "\e607";
}

.icon-checkmark:before {
	content: "\e608";
}

.icon-plus:before {
	content: "\e609";
}

.icon-play2:before {
	content: "\e60a";
}

.icon-newtab:before {
	content: "\e616";
}

.icon-embed:before {
	content: "\e60b";
}

.icon-code:before {
	content: "\e60c";
}

.icon-share:before {
	content: "\e60d";
}

.icon-youtube:before {
	content: "\e617";
}

.icon-youtube2:before {
	content: "\e618";
}

.icon-th-large:before {
	content: "\f009";
}

.icon-th:before {
	content: "\f00a";
}

.icon-th-list:before {
	content: "\f00b";
}

.icon-chevron-left:before {
	content: "\f053";
}

.icon-chevron-right:before {
	content: "\f054";
}

